# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment Files
.env*
config/environments/*
!config/environments/.env.example
.venv/
env/
venv/
.secrets

# Project Data
src/data/raw/*
src/data/chunks/*
!src/data/raw/.gitkeep
!src/data/chunks/.gitkeep

# Vector Storage & Databases
src/infrastructure/storage/vector/*
!src/infrastructure/storage/vector/.gitkeep
src/infrastructure/storage/vector/document_summaries.json
src/infrastructure/vector_storage/chroma/*
!src/infrastructure/vector_storage/chroma/.gitkeep
*.sqlite3
*.sqlite
chroma.sqlite3

# Document Summaries
**/document_summaries.json

# Project Documentation
/scripts/maintenance/project_structure.txt
/CHANGELOG_template.md
!/roadmap.md

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/
reports/coverage/

# Development Tools
## Poetry
#poetry.lock  # Uncomment if you want to ignore poetry.lock

## PDM
.pdm.toml
#pdm.lock

## Pre-commit
.pre-commit-config.yaml
!.pre-commit-config.example.yaml

## Git
.gitattributes
!.gitattributes.example

## Ruff
.ruff_cache/

## MyPy
.mypy_cache/
.dmypy.json
dmypy.json

## PyType
.pytype/

## PyBuilder
.pybuilder/
target/

# IDE
## JetBrains
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
modules.xml
.idea_modules/

## VSCode
.vscode/
*.swp
*.swo

# Logs
logs/*
!logs/.gitkeep
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chainlit
.chainlit/translations.codiumai
chainlit.md

# Security
id_rsa
id_rsa.pub

# OS Generated Files
## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
