# Environment
ENVIRONMENT=local/staging/production

# Server Configuration
PORT=8080    
SERVICE=api

# Debug mode
DEBUG=true

# API Keys
FIRECRAWL_API_KEY=api-key
ANTHROPIC_API_KEY=api-key
OPENAI_API_KEY=api-key
COHERE_API_KEY=api-key
WEAVE_PROJECT_NAME='project-name'

# Supabase
SUPABASE_URL=api-url
SUPABASE_SERVICE_KEY=supabase-service-key

# Redis
REDIS_URL=redis://localhost:6379
REDIS_USER=
REDIS_PASSWORD=

# Celery
CELERY_BROKER_URL=redis://localhost:6379 # Using redis for broker and result backend
CELERY_RESULT_BACKEND=redis://localhost:6379

# Monitoring
LOGFIRE_TOKEN=<your-write-token>

# Railway tokens, used when deploying to Railway via CLI / GitHub Actions
RAILWAY_TOKEN=token

# ChromaDB
CHROMA_PRIVATE_URL=http://localhost:8000 # a single unified variable
CHROMA_CLIENT_AUTH_CREDENTIALS=admin:password # not necessary for local dev

# Ngrok
NGROK_AUTH_TOKEN=your-ngrok-auth-token # only used for local dev