# Environment
ENVIRONMENT=local/staging/production

# Server Configuration
API_HOST=127.0.0.1  # Use 127.0.0.1 for local, 0.0.0.0 for staging/prod
PORT=8000           # Default port, will be overridden by Railway in prod

# API Keys
FIRECRAWL_API_KEY=api-key
ANTHROPIC_API_KEY=api-key
OPENAI_API_KEY=api-key
COHERE_API_KEY=api-key
WEAVE_PROJECT_NAME='project-name'

# Supabase
SUPABASE_URL=api-url
SUPABASE_SERVICE_KEY=supabase-service-key

# Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

# RQ
REDIS_QUEUE_NAME=processing
REDIS_QUEUE_TIMEOUT=3h
REDIS_WORKER_COUNT=2

# Monitoring
LOGFIRE_TOKEN=<your-write-token>
